<app-header></app-header>
<br>
<hr>
<div class="container">

  <div class="getdata">
    <span><i class="bi bi-trash"></i></span>
    <section>
      <mat-card>
        <mat-card-title>
          <h1>Manager Dashboard</h1>
        </mat-card-title>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="table-heading">Name</th>
                <th scope="col" class="table-heading">Email</th>
                <th scope="col" class="table-heading">Role</th>
                <th scope="col" class="table-heading">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mg of manager; let i = index">

                <td>{{ mg.name }}</td>
                <td>{{ mg.email }}</td>
                <td>{{ mg.role }}</td>

                <td>
                  <button mat-icon-button color="primary" aria-label="Edit"
                  data-toggle="modal" data-target="#exampleModal">
                    <mat-icon>edit</mat-icon>
                  </button>
                  
                  <button mat-icon-button color="warn" aria-label="Delete"(click)="onDelete(mg, i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </section>
  </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #userForm="ngForm">
          <select class="form-select" aria-label="Default select example" name="role" [(ngModel)]="selectedEmployeeRole.role">
          <option value="">Select Role</option>
          <option *ngFor="let role of roles">{{role}}</option>
        </select>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
      </div>
    </div>
  </div>
</div>